@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #0D202C ;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 80px;
    
}
/* Nav bar */
nav{
    background-color: #2c4f5e;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    position: sticky; 
    z-index: 9999; 
    top: 0;  
}
nav ul{
    display: flex;
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 17px;
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    transition: 00.6s ease;
}
nav ul li a:hover{
    border-bottom: 2px solid #00e9a5;
    box-shadow: 5px 10px 30px rgba(0,255,128,0.4);
}

/* home-page */  
#home img{
    width: 56%;
    height: 470px;
    position: absolute;
    left: 122%;
    top: -30%;

}
#home-page{
    height: 500px;
    padding-top: 10%;
}
.home-page-heading{
    width: 500px;
    position: absolute;
    left: 17%;
    top: 60%;
    color: #fff;
    transform: translate(-1%, -50%);    
    
}
.home-page-heading h1{
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
}
.home-page-heading h1 span{
    color: #00e9a5;
}
.home-page-heading h2{
    color: #c0c0c0;
    font-weight: 700;
    
}
.home-page-btn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00e9a5;
    box-shadow: 5px 10px 30px rgba(0,255,128,0.4);
    border-radius: 20px;
    color: #000;
    margin-top: 25px;
    transition: 0.6s ease-in-out;
}

.home-page-btn:hover{
    background-color: #00ff73;
}